# Computer Vision
opencv-python
mediapipe
numpy

# Machine Learning
scikit-learn

# Voice Assistant
pyttsx3
SpeechRecognition
vosk

# GUI Framework
PySide6
PySide6-Addons

# Database
pg_embed
psycopg2-binary
sqlalchemy
alembic

# Command Execution
pyautogui

# Development
joblib
